/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.homeLight {
  background: linear-gradient(
    0deg,
    #ffffff 38.36%,
    #deeffe 73.35%,
    #7abcf7 100%
  );
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.homeDark {
  background: linear-gradient(
    0deg,
    #000e1a 13.73%,
    #001425 31.2%,
    #001425 65.83%,
    #002648 97.16%
  );
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.homeBackground {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;
  opacity: 0.7;
}

.homeBackgroundLight {
  background-image: url("/static/img/home-background-light-mode.png");
}

.homeBackgroundDark {
  background-image: url("/static/img/home-background-dark-mode.png");
}
